@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
}

.text-gradient {
  background: -webkit-linear-gradient(#ffffff, #636363);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dashed-border {
  border: 1px solid transparent;
  border-image: repeating-linear-gradient(
      to right bottom,
      rgb(164, 164, 164) 0px,
      rgb(43, 43, 43) 20px,
      transparent 25px,
      transparent 40px
    )
    1;
}
